<!DOCTYPE html>
<html>

<head>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
    }

    span {
      margin: 10px 0;
      display: block;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: #fff;
    }

    button {
      pointer-events: auto;
      cursor: pointer;
      background: #A66226;
      border: 0.8px;
      border-radius: 8px;
      border: none;
      padding: 1.5rem 3rem;
      margin: 2rem;
      font-family: inherit;
      font-size: inherit;
      position: relative;
      display: inline-block;
    }

    button::before,
    button::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  </style>

</head>

<body>
  <div class="container">
    <img src="https://i.imgur.com/7JfY5W4.png" />
    <span>Hi, {{name}}</span>

    <br />

    <span>You have requested a password change.</span>
    <span>To make the change, click on the button.
      <br />

      <button>
        <a href={{link}}>RESET PASSWORD</a>
      </button>

      <br />
    </span>

    <span>If you did not request the password change yourself, simply ignore this e-mail.</span>

    <strong>Thank You!</strong>

    <h3><strong>Ux Leris</strong></h3>
  </div>
</body>

</html>